.gameboard {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  text-align: center;
  font-size: 4rem;
}

.button {
  display:flex;
  justify-content:center
  
}
